<footer class="footer py-4">
    <div class="container">
      <div class="row footer-bottom">
        <div class="col-md-3 first-box">
          <h5>Chilled grape</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-3 links">
          <h5>Company</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">About</a></li>
            <li><a href="#" class="text-dark">Careers</a></li>
            <li><a href="#" class="text-dark">Our Work</a></li>
            <li><a href="#" class="text-dark">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 links">
            <h5>Products</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-dark">About</a></li>
              <li><a href="#" class="text-dark">Careers</a></li>
              <li><a href="#" class="text-dark">Our Work</a></li>
              <li><a href="#" class="text-dark">Contact</a></li>
            </ul>
        </div>
        <!-- Fourth Box: Follow Us -->
        <div class="col-md-3 social-icons links">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="https://facebook.com" target="_blank"><fa-icon [icon]="['fab', 'facebook']"></fa-icon>            </a></li>
            <li><a href="https://twitter.com" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
            <li><a href="https://twitter.com" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
        </ul>
        <ul class="list-unstyled">
            <li><a href="https://instagram.com" target="_blank"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a></li>
            <li><a href="https://linkedin.com" target="_blank"><fa-icon [icon]="['fas', 'envelope']"></fa-icon></a></li>
            <li><a href="https://linkedin.com" target="_blank"><fa-icon [icon]="['fas', 'envelope']"></fa-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  